n8n-workflows/daily-digest.json
{
  "name": "Daily Digest of Top Streams",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 5
            }
          ]
        }
      },
      "id": "e67e8a9f-f77d-41a4-9270-22c608f58be7",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.title, s.\"peakViewerCount\", u.\"displayName\" as creator, s.\"startedAt\" FROM \"Stream\" s JOIN \"User\" u ON s.\"creatorId\" = u.id WHERE s.status = 'ENDED' AND s.\"endedAt\" >= TO_CHAR(NOW() - INTERVAL '1 day', 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"') ORDER BY s.\"peakViewerCount\" DESC LIMIT 10;"
      },
      "id": "936bf8cf-89ae-44d4-81d5-bc440939d891",
      "name": "Query Top Past Streams",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db-credentials",
          "name": "Postgres Database Connection"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"digestDate\": \"{{ new Date().toDateString() }}\",\n  \"topStreamsCount\": \"{{ $input.all().length }}\",\n  \"streamsList\": \"{{ $input.all() }}\"\n}",
        "options": {}
      },
      "id": "a93bebf2-e95b-4395-8854-e0b5220c4c4e",
      "name": "Publish Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        540,
        300
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Query Top Past Streams",
            "index": 0
          }
        ]
      ]
    },
    "Query Top Past Streams": {
      "main": [
        [
          {
            "node": "Publish Daily Report",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "digest-workflow-v2",
  "id": "daily-digest"
}
